<include('../../layout')>
  <@head>
    <app-head/>
  </@head>
  <@body>
    <div class="row">
      <h1 class="alert">Home</h1>
      <for(person in input.people)>
        <div class="col-xs-12 col-md-4">
          <macro-greet({name:person.name, age:person.age})/>
        </div>
      </for>
    </div>
  </@body>
  <@footer>
    <app-footer/>
  </@footer>
</include>
